---
import "../styles/global.css";
import WhatsAppButton from "./WhatsAppButton.astro";
---

<footer class="p-4 bg-white sm:p-6 dark:bg-gray-800">
  <div class="mx-auto max-w-screen-xl">
    <!-- Línea superior: nombre + redes -->
    <div
      class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4"
    >
      <span class="text-2xl font-semibold whitespace-nowrap dark:text-white"
        >Cuba Easy Tours</span
      >

      <div class="flex space-x-4">
        <!-- Reemplaza los # con tus enlaces reales -->
        <a
          href="mailto:cubaeasytours@gmail.com"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white espacio"
          aria-label="Gmail"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            id="gmail"
            enable-background="new 0 0 141.7 141.7"
            viewBox="0 0 141.7 141.7"
            class="w-9 h-9"
          >
            <path
              fill="#4285f4"
              d="M24.3,111.3h17.2V69.6L16.9,51.3V104C16.9,108,20.2,111.3,24.3,111.3z"
            ></path>
            <path
              fill="#34a853"
              d="M100.3,111.3h17.2c4.1,0,7.4-3.3,7.4-7.4V51.3l-24.5,18.4V111.3z"
            ></path>
            <path
              fill="#fbbc04"
              d="M100.3,37.8v31.9l24.5-18.4v-9.8c0-9.1-10.4-14.3-17.7-8.8L100.3,37.8z"
            ></path>
            <path
              fill="#ea4335"
              fill-rule="evenodd"
              d="M41.4,69.6V37.8l29.4,22.1l29.4-22.1v31.9L70.9,91.7L41.4,69.6z"
              clip-rule="evenodd"></path>
            <path
              fill="#c5221f"
              d="M16.9,41.4v9.8l24.5,18.4V37.8l-6.9-5.2C27.3,27.2,16.9,32.4,16.9,41.4z"
            ></path>
          </svg>
        </a>
        <a
          href="https://vk.com/idcubaeasytours"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white espacio"
          aria-label="Vk"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-9 h-9"
            viewBox="0 0 33.867 33.867"
            id="vk"
          >
            <path
              fill="#00a1ff"
              d="M27.498 7.3c-.866 0-1.595.174-1.95 1.41-.476 1.65-2.546 5.275-3.72 7.091-.835 1.293-1.943.394-2.01-.16-.167-1.397 0-6.735 0-6.735 0-1.05-.65-1.592-1.368-1.592h-5.37c-.88 0-1.323 1.069-.06 1.85 1.093.676 1.388.717 1.388 1.67v6.037c0 .516-.778 1.096-1.425.433-.97-.991-4.304-8.006-4.304-8.006S7.8 7.314 5.453 7.314H1.778c-.407 0-.955.527-.619 1.182 0 0 4 9.66 7.66 13.628s6.706 4.443 6.706 4.443h3.232s1.132.027 1.132-1.132v-3.311c-.05-.79 1.014-1.387 1.94-.384l3.409 3.699c.841.884 1.82 1.128 2.76 1.128h4.041c.623 0 1.242-.797.235-1.805l-4.901-5.6s-.783-.699-.112-1.76c.67-1.063 4.058-7.657 4.226-8.104.452-.95.139-1.984-.985-1.984L27.498 7.3z"
              paint-order="fill markers stroke"></path>
          </svg>
        </a>
        <a
          href="https://instagram.com/cuba.easy.tours"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white espacio"
          aria-label="Instagram"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-9 h-9"
            viewBox="0 0 102 102"
            id="instagram"
          >
            <defs>
              <radialGradient
                id="a"
                cx="6.601"
                cy="99.766"
                r="129.502"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset=".09" stop-color="#fa8f21"></stop>
                <stop offset=".78" stop-color="#d82d7e"></stop>
              </radialGradient>
              <radialGradient
                id="b"
                cx="70.652"
                cy="96.49"
                r="113.963"
                gradientUnits="userSpaceOnUse"
              >
                <stop offset=".64" stop-color="#8c3aaa" stop-opacity="0"></stop>
                <stop offset="1" stop-color="#8c3aaa"></stop>
              </radialGradient>
            </defs>
            <path
              fill="url(#a)"
              d="M25.865,101.639A34.341,34.341,0,0,1,14.312,99.5a19.329,19.329,0,0,1-7.154-4.653A19.181,19.181,0,0,1,2.5,87.694,34.341,34.341,0,0,1,.364,76.142C.061,69.584,0,67.617,0,51s.067-18.577.361-25.14A34.534,34.534,0,0,1,2.5,14.312,19.4,19.4,0,0,1,7.154,7.154,19.206,19.206,0,0,1,14.309,2.5,34.341,34.341,0,0,1,25.862.361C32.422.061,34.392,0,51,0s18.577.067,25.14.361A34.534,34.534,0,0,1,87.691,2.5a19.254,19.254,0,0,1,7.154,4.653A19.267,19.267,0,0,1,99.5,14.309a34.341,34.341,0,0,1,2.14,11.553c.3,6.563.361,8.528.361,25.14s-.061,18.577-.361,25.14A34.5,34.5,0,0,1,99.5,87.694,20.6,20.6,0,0,1,87.691,99.5a34.342,34.342,0,0,1-11.553,2.14c-6.557.3-8.528.361-25.14.361s-18.577-.058-25.134-.361"
            ></path>
            <path
              fill="url(#b)"
              d="M25.865,101.639A34.341,34.341,0,0,1,14.312,99.5a19.329,19.329,0,0,1-7.154-4.653A19.181,19.181,0,0,1,2.5,87.694,34.341,34.341,0,0,1,.364,76.142C.061,69.584,0,67.617,0,51s.067-18.577.361-25.14A34.534,34.534,0,0,1,2.5,14.312,19.4,19.4,0,0,1,7.154,7.154,19.206,19.206,0,0,1,14.309,2.5,34.341,34.341,0,0,1,25.862.361C32.422.061,34.392,0,51,0s18.577.067,25.14.361A34.534,34.534,0,0,1,87.691,2.5a19.254,19.254,0,0,1,7.154,4.653A19.267,19.267,0,0,1,99.5,14.309a34.341,34.341,0,0,1,2.14,11.553c.3,6.563.361,8.528.361,25.14s-.061,18.577-.361,25.14A34.5,34.5,0,0,1,99.5,87.694,20.6,20.6,0,0,1,87.691,99.5a34.342,34.342,0,0,1-11.553,2.14c-6.557.3-8.528.361-25.14.361s-18.577-.058-25.134-.361"
            ></path>
            <path
              fill="#fff"
              d="M461.114,477.413a12.631,12.631,0,1,1,12.629,12.632,12.631,12.631,0,0,1-12.629-12.632m-6.829,0a19.458,19.458,0,1,0,19.458-19.458,19.457,19.457,0,0,0-19.458,19.458m35.139-20.229a4.547,4.547,0,1,0,4.549-4.545h0a4.549,4.549,0,0,0-4.547,4.545m-30.99,51.074a20.943,20.943,0,0,1-7.037-1.3,12.547,12.547,0,0,1-7.193-7.19,20.923,20.923,0,0,1-1.3-7.037c-.184-3.994-.22-5.194-.22-15.313s.04-11.316.22-15.314a21.082,21.082,0,0,1,1.3-7.037,12.54,12.54,0,0,1,7.193-7.193,20.924,20.924,0,0,1,7.037-1.3c3.994-.184,5.194-.22,15.309-.22s11.316.039,15.314.221a21.082,21.082,0,0,1,7.037,1.3,12.541,12.541,0,0,1,7.193,7.193,20.926,20.926,0,0,1,1.3,7.037c.184,4,.22,5.194.22,15.314s-.037,11.316-.22,15.314a21.023,21.023,0,0,1-1.3,7.037,12.547,12.547,0,0,1-7.193,7.19,20.925,20.925,0,0,1-7.037,1.3c-3.994.184-5.194.22-15.314.22s-11.316-.037-15.309-.22m-.314-68.509a27.786,27.786,0,0,0-9.2,1.76,19.373,19.373,0,0,0-11.083,11.083,27.794,27.794,0,0,0-1.76,9.2c-.187,4.04-.229,5.332-.229,15.623s.043,11.582.229,15.623a27.793,27.793,0,0,0,1.76,9.2,19.374,19.374,0,0,0,11.083,11.083,27.813,27.813,0,0,0,9.2,1.76c4.042.184,5.332.229,15.623.229s11.582-.043,15.623-.229a27.8,27.8,0,0,0,9.2-1.76,19.374,19.374,0,0,0,11.083-11.083,27.716,27.716,0,0,0,1.76-9.2c.184-4.043.226-5.332.226-15.623s-.043-11.582-.226-15.623a27.786,27.786,0,0,0-1.76-9.2,19.379,19.379,0,0,0-11.08-11.083,27.748,27.748,0,0,0-9.2-1.76c-4.041-.185-5.332-.229-15.621-.229s-11.583.043-15.626.229"
              transform="translate(-422.637 -426.196)"></path>
          </svg>
        </a>
        <a
          href="https://t.me/cubaeasytours"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white espacio"
          aria-label="Telegram"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-9 h-9"
            fill="none"
            viewBox="0 0 48 48"
            id="telegram"
          >
            <rect width="48" height="48" fill="#419FD9" rx="24"></rect>
            <rect width="48" height="48" fill="url(#paint0_linear)" rx="24"
            ></rect>
            <path
              fill="#fff"
              d="M10.7874 23.4709C17.7667 20.3663 22.4206 18.3195 24.7493 17.3305C31.3979 14.507 32.7795 14.0165 33.68 14.0002C33.878 13.9968 34.3208 14.0469 34.6077 14.2845C34.8499 14.4852 34.9165 14.7563 34.9484 14.9465C34.9803 15.1368 35.02 15.5702 34.9884 15.9088C34.6281 19.774 33.0692 29.1539 32.276 33.483C31.9404 35.3148 31.2796 35.929 30.6399 35.9891C29.2496 36.1197 28.1938 35.051 26.8473 34.1497C24.7401 32.7395 23.5498 31.8615 21.5044 30.4854C19.1407 28.895 20.673 28.0209 22.0201 26.5923C22.3726 26.2185 28.4983 20.5295 28.6169 20.0135C28.6317 19.9489 28.6455 19.7083 28.5055 19.5813C28.3655 19.4543 28.1589 19.4977 28.0098 19.5322C27.7985 19.5812 24.4323 21.8529 17.9113 26.3473C16.9558 27.0172 16.0904 27.3435 15.315 27.3264C14.4602 27.3076 12.8159 26.833 11.5935 26.4273C10.0942 25.9296 8.90254 25.6666 9.0063 24.8215C9.06035 24.3813 9.65403 23.9311 10.7874 23.4709Z"
            ></path>
            <defs>
              <linearGradient
                id="paint0_linear"
                x1="24"
                x2="24"
                y2="47.644"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#2AABEE"></stop>
                <stop offset="1" stop-color="#229ED9"></stop>
              </linearGradient>
            </defs>
          </svg>
        </a>
      </div>
    </div>

    <!-- Línea inferior: derechos reservados -->
    <div
      class="mt-6 pt-6 border-t border-gray-200 dark:border-gray-700 text-center"
    >
      <span class="text-sm text-gray-500 dark:text-gray-400">
        © {new Date().getFullYear()} Cuba Easy Tours. Todos los derechos reservados.
      </span>
    </div>
  </div>
  <WhatsAppButton />
</footer>
